:root {
    --main-color: #222222;
    --extra-text-color: #565148;
    --accent-color: #ED4B5E;
    --extra-accent-color: #FFEFF0;
    --white-text-color: #FFFFFF;
    --placeholder-text-color: #888888;
    --input-border-color: #D2D2D2;
}