.logo{
    font-family: 'AnzeigenGroT';
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    color: #ED4B5E;
}
.logo_icon{
    fill: #ED4B5E;
     width: 104px;
    height: 32px;
}