
.menu_icon{
    fill: #222222;
    width: 24px;
   height: 24px;
   -webkit-transition-property: fill;
   transition-property: fill;
   -webkit-transition-duration: .3s;
           transition-duration: .3s;
   -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
           transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo{
    display: flex;
    font-family: 'AnzeigenGroT';
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    color: #ED4B5E;
}
.menu{
    opacity: 1;
    
   font-family: 'AnzeigenGroT';
   font-size: 24px;
   text-transform: uppercase;
   letter-spacing: -0.01em;
   line-height: 90%;
   color: #222222;
   -webkit-transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
                      opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
   transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
              opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
              /* margin-right: 8px; */
}
.menu_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
.menu_wrapper:hover .menu,
.menu_wrapper:focus .menu,
.menu_wrapper:hover .menu_icon,
.menu_wrapper:focus .menu_icon {
 
  color: #ED4B5E;
  fill: #ED4B5E;
}


.scrolled{
   opacity: 0;
}

.burger_button{  
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        -webkit-transition-property: background-color;
        transition-property:background-color ;
        -webkit-transition-duration: .3s;
                transition-duration: .3s;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.burger_button:hover .menu_icon{
    fill: #ED4B5E;
}
.close_button{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 30px;
    width: 70px;
    padding: 0;
    margin-bottom: 33px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-style: normal;
    font-size: 20px;
    letter-spacing: -0.04em;
    cursor: pointer;
    -webkit-transition-property:color;
    transition-property:color ;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.close_icon{
    fill: #222222;
    width: 24px;
    height: 24px;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close_button:hover .close_icon,
.close_button:focus .close_icon{
fill: #ED4B5E;
}

.header_wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 239, 240, 0.5);
    z-index: 2;
  } 
  .modal {
    position: fixed;
    padding: 30px 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    
   
  }
  
  .modal.open {
   transition: opacity 0.5s ease-in-out; 
    opacity: 1;
  }
.modal_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal_item:not(:last-child){
    margin-bottom: 24px;
}


   @media  screen and (min-width: 360px) and (max-width: 480px) {
    .header_wrapper{         
        margin-bottom: 62px;
    }

   
    }
   
   @media only screen and (min-width: 481px) and (max-width: 767px) {
     .header_wrapper{         
        margin-bottom: 62px;
    }

    }
   
   @media screen and (min-width: 768px) {
   
        .header_wrapper{         
            margin-bottom: 78px;
         } 
        .modal_item:not(:last-child){
            margin-bottom: 36px;
        } 
     }
   
   
   @media screen and (min-width: 1440px) {
   
   .header_wrapper{
       margin-bottom: 100px;
   }
   .modal_item:not(:last-child){
    margin-bottom: 48px;
}
   }