.container {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.firm__trade{
    font-family:'Inter';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 100%;
    color: #222222;
}
.footer{
    padding: 32px 0;
}
.container::before{
    position: absolute;
    content: '';
    top: 0px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ED4B5E;
}
@media only screen and (min-width: 360px) and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .footer{
    padding: 32px 0;
   
  }
  .container::before{
    top: -32px;
    left: 20px;
    right: 20px;    
  }

   
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
    padding: 0 20px;
  }
  .footer{
    padding: 32px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container::before{
    top: -32px;
    left: 20px;
    right: 20px;    
  }   
   
}

  @media screen and (min-width: 768px) {
    .container {  
      width: 768px;
       padding: 0 30px;
    }
    .footer{
      padding: 24px 0;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .container::before{
      top: -24px;
      left: 30px;
      right: 30px;    
    }   
}
    
  @media screen and (min-width: 1280px) {
    .container {
      width: 1280px;
      padding: 0 32px;      
    }
    .container::before{
      left: 32px;
      right: 32px;    
    }  
}

