.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
  @media  screen and (min-width: 360px) and (max-width: 480px) {
    .background{
    background: url('../../images/mobile@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    
  }
  
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .background{
    background: url('../../images/mobile@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    }
   
   }
  
  @media screen and (min-width: 768px) {
    .background{
    background: url('../../images/tablet@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 768px; */
    }
   
    }
  
  
  @media screen and (min-width: 1440px) {
    .background{
    background: url('../../images/desktop@2x.jpg');
    /* width: 1440px; */
    }
  }